@use "../base/extend";
@use "../base/variables";
@use "../base/mixin";
@use "../base/listas";
@use "../base/mapas";

/* MOVILE FIRST FOOTER */
footer{
    background-color: nth(listas.$bg-color,2);
    margin-top: 2rem;
    @include mixin.display-flex (flex, space-around, center);
    padding-left: 1rem;
    p {
        font-size: 1rem;
        font-family: map-get(mapas.$font-decoration, font-family);
    }
    .container_redes{
        .lista_redes{
            @include mixin.display-flex (flex, flex-end, center);
            flex-wrap: wrap;
            li{
                list-style:map-get(mapas.$font-decoration, list-style);
                a{
                    margin: 1rem;
                    .red_social{
                        @include mixin.height-width (1.5rem,1.5rem);
                    }
                }
            }
        }
    }
}
/* VISTA TABLET FOOTER */
@media (min-width: 768px){
    footer{
        height:4rem;
        p {
            font-size: 2rem;
        }
        .container_redes{
            .lista_redes{
                li{
                    a{
                        .red_social{
                            @include mixin.height-width (3rem,3rem);
                        }
                    }
                }
            }
        }
    }
}
