$color-titulo:#f0ebf0;
$color-a-nav:#91107bf5;
$color-subtitulo:#11226d;
$font-family-titulo: 'Peralta', cursive;
$font-family-subtitulo: 'Dancing Script', cursive;
$fondo-header: url(../img/acuarela1.webp);
$fondo-p-bienvenida: url(../img/fondo-parrafo.jpg);
$fondo-p-sobreNosotros: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
$fondo-section-ubicacion: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
